body {
min-height: 100%;
background-color: #f9f4f4;
overflow-y: auto;
scroll-behavior: auto;
display: flex;
flex-direction: column;
}

html {
  height: 100%;
}

main {
max-height: 100vh;
overflow-y: auto;
scroll-behavior: auto;
flex-grow: 1;
}

.dropdown-toggle { outline: 0; }

.btn-toggle {
padding: .25rem .5rem;
font-weight: 600;
color: rgba(0, 0, 0, .65);
background-color: transparent;
}
.btn-toggle:hover,
.btn-toggle:focus {
color: rgba(0, 0, 0, .85);
background-color: #d2f4ea;
}

.btn-toggle::before {
width: 1.25em;
line-height: 0;
content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
transition: transform .35s ease;
transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
transform: rotate(90deg);
}

.btn-toggle-nav a {
padding: .1875rem .5rem;
margin-top: .125rem;
margin-left: 1.25rem;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
background-color: #d2f4ea;
}

.scrollarea {
overflow-y: auto;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
width: 100%;
padding-right: 12px;
padding-right: var(--ct-gutter-x,12px);
padding-left: 12px;
padding-left: var(--ct-gutter-x,12px);
margin-right: auto;
margin-left: auto;
}

.text-center {
text-align: center !important;
}

header {
    background-color: white;
}

footer {
    background-color: white;

    width: 100%;
    bottom: 0;
}

.bg-primary-soft {

    background-color: rgba(33, 99, 232, 0.1) !important;

}

.p-sm-5 {
  padding: 3rem !important;
}

.rounded {
    border-radius: 0.25rem !important;
}

.carousel-indicators {
position: absolute;
right: 0;
bottom: 0;
left: 0;
z-index: 2;
display: flex;
justify-content: center;
padding: 0;
margin-right: 15%;
margin-bottom: 1rem;
margin-left: 15%;
list-style: none;
}

.carousel-inner {
position: relative;
width: 60%;
overflow: hidden;
}

.carousel-item {
height: 30rem;
}
.carousel-inner{
height: 30rem;
}

.home-slider {
padding: 0;
margin: 0;
}

.container-fluid home-slider {
padding: 0;
margin: 0;
}

.mb-2 {
    margin-bottom: .5rem !important;
  }
  .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
  }
  *, ::after, ::before {
    box-sizing: border-box;
  }