{% extends "base.html" %}
{% load static %}

{% block content %}
<section id="content">
  <div class="col">
    <div class="card bg-light">
      <div class="row g-0" style="margin-bottom:2px;">
        <div class="col-md-4" style="width: 35%;">
          <img src="{% static 'img/book.jpg' %}" style="width: 80%;  margin: 30px;">
        </div>
        <div class="col-md-8" style="width: 63%; margin: 5px;">
          <div class="card-body">
            <h5 class="card-title">{{ book.title }}</h5>
            <span class="badge rounded-pill bg-primary">{{ book.year }} year</span>
            <span class="badge rounded-pill bg-info text-dark">{{ book.author }}</span>
            
            <p class="card-text"></p>
            <p class="card-text"><small class="text-muted"></small></p>
          </div>
        </div>
      </div>
      <div class="container pt-lg-3 pb-4 pb-sm-5" style="width:100%; margin:16px; margin-top:0px; margin-bottom: 2px;">
        <div class="row justify-content-center">
          <div class="col-md-12" style=" padding-right:35px;">
            <p>{{ book.description }}..<a href="#" style="color: black;"><i class="bi bi-pencil-fill"></i></a></p>
            <p style="margin-bottom: 2px;"><strong>About author:</strong><br>{{ book.about_author }}..<a href="#" style="color: black;"><i class="bi bi-pencil-fill"></i></a></p>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}