{% extends "base.html" %}
{% load static %}

{% block home %}
<div id="greeting" style="font-size: 28pt; text-align: center;"></div>
<div class="p-4 p-md-5 mb-4 text-white rounded bg-light">
    <div class="row g-4">
<header class="masthead">
    <div class="container-fluid home-slider">
    <div class="bd-example-snippet bd-code-snippet"><div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" style="background: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity)) !important">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3" class="active" aria-current="true"></button>
      </div>
      <div class="carousel-inner" style="margin-left: 250px">
        <div class="carousel-item">
            <img src="{% static 'img/books.jpg' %}" class="d-block w-100" style="display:block; margin:auto; ">
            <div class="carousel-caption d-none d-md-block">
                <div class="container position-relative px-4 px-lg-5">
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-md-10 col-lg-8 col-xl-7">
                            <div class="site-heading">
                                <h1>Library</h1>
                                <span class="subheading"><a href="{% url 'home' %}" style="color: white">by Svetlana Rudneva</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/add.jpg' %}" class="d-block w-100" style="display:block; margin:auto; ">
            <div class="carousel-caption d-none d-md-block">
                <div class="container position-relative px-4 px-lg-5">
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-md-10 col-lg-8 col-xl-7">
                            <div class="site-heading">
                                <h1>Want to add new book?</h1>
                                <span class="subheading"><a href="{% url 'add' %}" style="color: white">add book..</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item active">
            <img src="{% static 'img/catalog.jpg' %}" class="d-block w-100" style="display:block; margin:auto; ">
            <div class="carousel-caption d-none d-md-block">
                <div class="container position-relative px-4 px-lg-5">
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-md-10 col-lg-8 col-xl-7">
                            <div class="site-heading">
                                <h2>See all books in catalog</h2>
                                <span class="subheading"><a href="{% url 'add' %}" style="color: white">go to books..</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    </div></div>

  </div>
</header>
</div>
</div>

<div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">New</strong>
          <h3 class="mb-0">Add new books</h3>
          <div class="mb-1 text-muted">2022, July</div>
          <p class="card-text mb-auto">Fill simple form to add new book to the colection</p>
          <a href="{% url 'add' %}" class="stretched-link">Know more..</a>
        </div>
        <div class="col-auto d-none d-lg-block">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Collection</strong>
          <h3 class="mb-0">Book catalog</h3>
          <div class="mb-1 text-muted">2022, July</div>
          <p class="mb-auto">Whatch, search and find book you need</p>
          <a href="{% url 'catalog' %}" class="stretched-link">Know more..</a>
        </div>
        <div class="col-auto d-none d-lg-block">
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    var text = "Welcome to our library!";
    var delay = 100;
    var elem = document.getElementById("greeting");
    
    var print_text = function(text, elem, delay) {
        if(text.length > 0) {
            elem.innerHTML += text[0];
            setTimeout(
                function() {
                    print_text(text.slice(1), elem, delay); 
                }, delay
            );
        }
    }
    print_text(text, elem, delay);
  </script>
{% endblock %}